<ul class="breadcrumb">
  <li><%= link_to 'My Companies', companies_path %> <span class="separator">/</span></li>
  <li><%= link_to @company.name, @company %> <span class="separator">/</span></li>
  <li><%= link_to 'Products', company_products_path(@company) %> <span class="separator">/</span></li>
  <li><%= link_to @product.name, @product %> <span class="separator">/</span></li>
  <li class="active"><%= link_to 'Fixed direct costs', product_fixed_direct_costs_path(@product) %></li>
</ul>

<h1><%= @product.name %></h1>

<ul class="tabs">
  <li><%= link_to 'Overview', @product %></li>
  <li class="active"><%= link_to 'Fixed direct costs', product_fixed_direct_costs_path(@product) %></li>
  <li><%= link_to 'Variable direct costs', product_variable_direct_costs_path(@product) %></li>
  <li><%= link_to 'Semi-variable direct costs', product_semi_variable_direct_costs_path(@product) %></li>
</ul>

<p>
  Your fixed direct costs are those where the cost is directly associated with
  the production of this product, but whose amount is fixed over the
  production levels we are examining. For example, if you have to purchase a
  piece of specialist machinery to produce this product, that would probably
  count as a fixed cost. However, if your business is producing more than more
  product, then your rent probably wouldn't could as a direct cost.
</p>

<p style="text-align:right">
  <%= link_to 'New fixed direct cost', new_product_fixed_direct_cost_path(@product), class: 'btn primary' %>
</p>

<table class="zebra-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th class="number">Cost</th>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <th>Total Cost</th>
      <td class="number"><%= number_to_currency @product.fixed_direct_costs.sum(:fixed_cost_price) %></td>
    </tr>
  </tfoot>

  <tbody>
    <% @product.fixed_direct_costs.each do |fixed_direct_cost| %>
      <%= content_tag_for :tr, fixed_direct_cost do %>
        <td><%= fixed_direct_cost.name %></td>
        <td class="number"><%= number_to_currency fixed_direct_cost.fixed_cost_price %></td>
      <% end %>
    <% end %>
  </tbody>
</table>