<ul class="breadcrumb">
  <li><%= link_to 'My Companies', companies_path %> <span class="separator">/</span></li>
  <li><%= link_to @company.name, @company %> <span class="separator">/</span></li>
  <li class="active">Products</li>
</ul>

<h1><%= @company.name %> Products</h1>

<h2>Products</h2>

<p style="text-align:right">
  <%= link_to 'New Product', new_company_product_path(@company), class: 'btn primary' %>
</p>

<table class="zebra-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th class="number">Net Sale Price</th>
    </tr>
  </thead>

  <tbody>
    <% @company.products.each do |product| %>
      <%= content_tag_for :tr, product do %>
        <td><%= link_to product.name, product %></td>
        <td class="number"><%= number_to_currency product.net_sale_price %></td>
      <% end %>
    <% end %>
  </tbody>
</table>
