<ul class="breadcrumb">
  <li><%= link_to 'My Companies', companies_path %> <span class="separator">/</span></li>
  <li><%= link_to @company.name, @company %> <span class="separator">/</span></li>
  <li><%= link_to 'Products', company_products_path(@company) %> <span class="separator">/</span></li>
  <li class="active">New product</li>
</ul>

<h1>New product for <%= @company.name %></h1>

<%= form_for [@company, @product] do |f| %>
  <%= form_text_input f, :text_field, :name, label: 'Product name', autofocus: true, class: 'xlarge' %>
  <%= form_text_input f, :text_field, :net_sale_price, hint: "Always enter the net sale price here, before sales tax is added. Of course, if you're not registered for sales tax, that will be the same as the gross price.", class: 'xlarge' %>
  <div class="actions">
    <%= f.submit "Create product", class: 'btn primary' %>
    <%= link_to 'Cancel', companies_path, class: 'btn' %>
  </div>
<% end %>