<ul class="breadcrumb">
  <li><%= link_to 'My Companies', companies_path %> <span class="separator">/</span></li>
  <li><%= link_to @company.name, @company %> <span class="separator">/</span></li>
  <li><%= link_to 'Products', company_products_path(@company) %> <span class="separator">/</span></li>
  <li class="active"><%= link_to @product.name, @product %></li>
</ul>

<h1><%= @product.name %></h1>

<ul class="tabs">
  <li class="active"><%= link_to 'Overview', @product %></li>
  <li><%= link_to 'Fixed direct costs', product_fixed_direct_costs_path(@product) %></li>
  <li><%= link_to 'Variable direct costs', product_variable_direct_costs_path(@product) %></li>
  <li><%= link_to 'Semi-variable direct costs', product_semi_variable_direct_costs_path(@product) %></li>
</ul>

<table class="zebra-striped">
  <tbody>
    <tr>
      <th>Total fixed direct costs</th>
      <td class="number"><%= number_to_currency @product.total_fixed_direct_costs %></td>
    </tr>
    <tr>
      <th>Total direct costs per unit</th>
      <td class="number"><%= number_to_currency @product.total_variable_direct_costs %></td>
    </tr>
    <tr>
      <th>Net sale price</th>
      <td class="number"><%= number_to_currency @product.net_sale_price %></td>
    </tr>
  </tbody>
</table>